@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #202124;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


